url = "/"
layout = "default"
title = "PROMICON Homepage"
is_hidden = 0
meta_description = "homepage desc"
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[article_highlights]
maxItems = 2
title = "Latest from the project"
baseUrl = "/news"
templates = "template3"
thumb_width = 250
thumb_height = 250
title_max_length = 150

[jumbotron]
jumbotron = "harnessing-power-nature"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0

[Timeline]
limit = 4
upcoming = 1
marked_for_display = 1
templates = "template1"
==
<?php
use Pensoft\Media\Models\Presentations;
use System\Models\File;
use Pensoft\Accordions\Models\Item;


function onStart(){
	$this['policy_brief'] =  Presentations::orderBy('id', 'desc')->first();

    $records = Item::where('category_id', 1)->orderBy('sort_order')->take(5)->get();
    $this['wps'] = $records;

}
?>
==
<div class="container-fluid homepage-jumbotron-background">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">{% component 'jumbotron' %}</div>
			<div class="col-xs-12 col-md-6"></div>
		</div>
	</div>
</div>

<div class="container-fluid homepage-wp">
	<div class="container">
        <h1>Access our results</h1>
        {% if wps.count %}
            <div class="container">
                <div class="row mt-4 homepage-wp-row">
                    {% for record in wps %}
                    <div class="col-md-4 col-xs-12">
                        <div class="wp-item">
                            <div class="green_bullet">
                                {% if record.prefix %} {{record.prefix}} {% endif %}
                            </div>

                            <h3 class="card-header">{% if record.title %} {{record.title}} {% endif %}</h3>
                            <div class="card-body">
                                <div class="body"><div class="dorsal">Read more</div></p>
                                    <div class="toogle-contact-paragraphs" style="display: none;">{% if record.body %} {{record.body | raw}} {% endif %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
	</div>
</div>

<div class="container-fluid homepage-discover">
	<div class="container">
        <h1>Discover more PROMICON outputs</h1>
        <div class="buttons_container">
            <a href="https://riojournal.com/topical_collection/239/" class="btn-primary" target="_blank">Open access RIO collection</a>
            <a href="/media-center/policy-corner" class="btn-primary" target="_blank">Policy briefs</a>
            <a href="/media-center/graphical-summaries" class="btn-primary" target="_blank">Graphical summaries</a>
            <a href="https://www.youtube.com/watch?v=X-PurNMw6MI&list=PLIUDAFdZw8Mn3gAZW4a7Hpq6_zQd52up2&ab_channel=PROMICON" class="btn-primary" target="_blank">Videos</a>
        </div>

	</div>
</div>
