<div class="row newslist">
    {% for highlight in records %}
    <div class="col-xs-12 col-md-3">
        
        <div class="row news_column">
            {% if highlight.cover %}
            <a class="news-image col-xs-12 center-xs" href="{{'news'|page}}/{{highlight.slug}}">
                <img class="news-img-top" src="{{highlight.cover.getThumb(250, 250, {'mode': 'crop'})}}">
            </a>
            {% else %}
            <a class="news-image col-xs-12 center-xs" href="{{'news'|page}}/{{highlight.slug}}">
                <img class="news-img-top" src="{{'pensoft/No_Image_Available.jpg'|media }}" style="height: 250px; width: 250px;">
            </a>
            {% endif %}
            <div class="news-container col-xs-12">
                <div class="text-published">{{ highlight.published_at|date('d F Y') }}</div>
                <div class="news-title">
                    <h3 class="card-title"><a href="{{'news'|page}}/{{highlight.slug}}">{{ highlight.title|length > 99 ? highlight.title|slice(0, 99) ~ '...' : highlight.title  }}</a></h3>
                </div>
                <div class="row news-button-card">
                    <div class="col-xs-12">
                        <a href="{{'news'|page}}/{{highlight.slug}}" class="btn btn-primary">{{'Read article' |_}}</a>
                    </div>
                </div>
    
            </div>
        </div>
        
    </div>


    {% endfor %}
</div>